<!doctype html>
<html class="no-js" lang="">
    {{> head}}
    {{> header}}
    <body>
        <main class="ra-content-container">
            <section class="ra-c-section">
                <div class="ra-c-data-card">
                    <div class="ra-c-data-container">
                        <div class="ra-c-data__header">
                            <h1 class="ra-c-page-title">Results for {{pageTitle}}'s posts</h1>
                            <div class="ra-c-card-stat">
                                <span class="ra-c-card__title">
                                    Average age of posts: {{averageAge}} hour(s)
                            </div>
                            <div class="ra-c-card-stat">
                                <span class="ra-c-card__title">
                                    Average comment count: {{averageComments}}
                                </span>
                            </div>
                            <div class="ra-c-card-stat">
                                <span class="ra-c-card__title">
                                    Average upvote count: {{averageUpvotes}}
                                </span>
                            </div>
                        </div>
                        <div class="ra-c-data__body">
                            <div class="ra-c-post-container">
                            {{#each posts}}
                                <div class="ra-c-card" id="{{this.id}}" data-timestamp="{{this.prevTimestamp}}" data-upvotes="{{this.prevUpvotes}}">
                                    <div class="ra-c-card__header">
                                        <a class="ra-c-card__header-link" href="{{this.link}}">
                                            {{this.title}}
                                            <span class="ra-c-card__header-subtitle">by u/{{this.author}}</span>
                                        </a>
                                    </div>
                                    <div class="ra-c-card__body">
                                        <div class="ra-c-card__title">
                                            Age: {{this.age}} hour(s)
                                        </div>
                                        <div class="ra-c-card__title">
                                            Upvotes per Minute: <span class="ra-c-card-info js-ra-vote-avg">{{this.upvotesPerMinute}}</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>